.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  height: 90vh; 
  width: 150px;
  padding: 10px; 
  background-color: #c9ffc9; 
  border: solid;
  border-color: darkseagreen;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navitem {
  flex: 1; /* 各項目が等間隔に分配されるようにする */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50% 0; 
}

.btn {
  width: 100%; 
  height: 100%; 
  padding: 10px; 
  border-radius: 10px; 
  border-color: rgb(131, 253, 131);
  color: rgb(17, 132, 51);
}

.btn i {
  margin-right: 5px;
  color: rgb(17, 132, 51);
}

.btn:hover {
  background-color: #37ff7680; /* ボタンにホバーしたときの色を変更 */
}