.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.List {
  width: 67%;
  border: solid;
  border-color: darkseagreen;
  height: 90vh;
}

.detail {
  width: 27%;
  border: solid;
  border-color: darkseagreen;
  height: 90vh;
}